@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
.plus_jhatkasans{
   font-family: "Plus Jakarta Sans", sans-serif;
}
@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/NeueMachina-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Neue Machina", sans-serif;
}
.bear_bull{
  background-image: url(/assets/images/svg/bg-image-bull-bear.svg);
  background-repeat: no-repeat;
 background-size: cover;
}
.bg_time_line-img{
  background-image: url(/assets/images/png/bg-img-timeline-with-color.png);
  background-repeat: no-repeat;
  background-size: cover;
}